html{
    background-color: hsl(0,0%,0%);
    font-size:20px;
    line-height: 30px;
}
body{
    margin: 0%;
    color:#ecf2f8;
    font-family:'Ubuntu';
}
li{
    color: hsl(0,0%,75%);
    margin:15px;
}
h3{
    color: hsl(0,0%,95%);
    margin:15px;
}
p{
    color: hsl(0,0%,75%);
}
#title{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}
.about-section{
    margin-left: 20%;
    /* justify-self: center; */
}
#abt_img{
    width:70px;
    height:70px;
    border-radius: 50px;
}
#firstpara{
    background-color: hsl(0,0%,5%);
    border:hsl(0,0%,30%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-radius: 50px;
}
#maincont{
    display:flex;
    gap:15px;
}
#Hobbies{
    padding-left: 20px;
    border-radius: 15px;
    width: 95%;
    height:60%;
    padding-bottom: 15px;
}
.box{
    background-color: hsl(0,0%,5%);
    border:hsl(0,0%,30%);
    
}
/* .box:hover{    
} */
#container{
    width:72%;
    display:flex;
    flex-direction:column;
    gap:25px;
}
#top{
    margin-left: 25px;
    margin-right: 0;
    flex-direction: row;
    display:flex;
    animation: jump 2s ease-out forwards;
}
#skills{
    padding-left:20px;
    border-radius: 15px;
    width:25%;
    padding-bottom: 15px;
}
#projects{
    padding-left: 20px;
    border-radius: 15px;
    width: 95%;
    height:40%;
}
.btn{
    width:60px;
    height:25px;
    display: block;
    border-style:ridge;
    color: #ecf2f8;
    border-radius: 20px;

}
#socials{
    width: 100%;
    height: 100%;
    display:flex;
    width:10rem;
    justify-content: space-between;
    margin-left: 15px;
}
.social{
  width: 50px;
  height: 50px;
  fill: white;
}
.about-section {
  /* max-width: 1100px; */
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-section img {
  animation: fade-up 1s ease-out forwards;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  align-self: center;
}

.about-text {
    animation: fade-down 1s ease-out forwards;
    flex: 1;
    min-width: 25vw;
}
footer{
    padding-left: 2%;
    padding-top: 2%;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: hsl(0,0%,10%);
}
@media(max-width:576px){
    #top{
        margin-left: 50px;
        flex-direction: column;
    }
    #container{
        width:95%;
        margin:0;
    }
    #skills{
        margin-top: 25px;
        width: 90%;
        margin-left: 0px;
    }
    #about{
        margin-bottom: 5%;
    }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}
@keyframes jump {
  from {
    opacity: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
