html{
    background-color:#19212e;
    font-size:20px;
    line-height: 30px;
}
body{
    margin-right: 1%;
    color:#ecf2f8;
    font-family:'Ubuntu';
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/42471064-2114-4f68-9cfe-d23f09301ac7/d35y9h6-158d767b-ef4d-45c4-ba7e-9bdc817850d0.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQyNDcxMDY0LTIxMTQtNGY2OC05Y2ZlLWQyM2YwOTMwMWFjN1wvZDM1eTloNi0xNThkNzY3Yi1lZjRkLTQ1YzQtYmE3ZS05YmRjODE3ODUwZDAuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oA2Dk55S7LaGaq-qQP1-FwA8mvy8ukZXKt6N61KIKuo"); */
    
}
li{
    margin:15px;
}
h3{
    margin:15px;
}
#title{
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}
#abt_img{
    width:70px;
    height:70px;
    border-radius: 50px;
}
#firstpara{
    padding-top: 15px;
    padding-bottom: 35px;
}
#maincont{
    display:flex;
    gap:15px;
}
#Hobbies{
    background-color: rgb(78, 78, 78);
    border-radius: 15px;
    margin:1%;
    width: 75%;
    height:60%;
}
.box:hover{
    transform: scale(1.03);
    transition: 0.7s;
}
#top{
    display:flex;
}
#skills{
    background-color: rgb(78,78,78);
    border-radius: 15px;
    margin-left: 50px;
    width:25%;
}
#socials{
  display:flex;
  width:10rem;
  justify-content: space-between;
  margin-left: 15px;
}
.social{
  width: 50px;
  height: 50px;
  fill: white;
}
.about-section {
  /* max-width: 1100px; */
  margin: auto;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about-section img {
  /* flex: 1; */
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  align-self: center;
}

.about-text {
  flex: 1;
  min-width: 25vw;
}
footer{
    background-color: black;
}
/* .navbar {
    position: relative; 
    margin: 0; 
    width: 100%; 
    background-color: black;
    padding:10px;
} */
